<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Travellers">

    <!-- Test konfiguracja dla "RegisterTest" -->
    <test name="Register Test">
        <classes>
            <class name="org.example.tests.RegisterTest"/>
        </classes>
    </test>

    <!-- Test konfiguracja dla "LoginTest" -->
    <test name="Login Test">
        <classes>
            <class name="org.example.tests.LoginTest"/>
        </classes>
    </test>

</suite>
